fastapi
uvicorn
python-multipart
pdfplumber
# sentence-transformers - Removed for Free Tier (OOM)
# scikit-learn - Removed for Free Tier
# scipy - Removed for Free Tier
faiss-cpu
huggingface_hub
python-dotenv
requests
numpy
jinja2
